{% load static %}
<!doctype html>
<html lang="en">
<head>
    {# Regular meta info #}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,
           user-scalable=no,
           initial-scale=1.0,
           maximum-scale=1.0,
           minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon"
          href="{% static 'images/icons/favicon.ico' %}">
    {#  Block for title content  #}
    <title>{% block title %} {% endblock %}</title>
    {# Attach main bootstrap #}
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    >
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    >
    </script>
    {# Attach bootstrap icons #}

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
            rel="stylesheet"
    >
    {# Additional fonts #}
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap"
            rel="stylesheet"
    >

    {#  Attach HTMX  #}
    <script
            src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
    ></script>
    {# Load CSRF and HTMX configuration #}
    <script src="{% static 'js/csrf.js' %}"></script>
    {# Load custom statis #}
    <link
            rel="stylesheet"
            href="{% static 'css/style.css' %}"
    >
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
{# Block for page content #}
{% block content %} {% endblock %}
</body>
</html>