{% extends '_base.html' %}

{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    {% for project in projects %}
        {# Project header #}
        {% include 'project/project.html' with project=project %}
    {% endfor %}
    {# Add a project #}
    <div class="fixed-bottom mb-3">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-2">
                    <button class="btn project-gradient-blue-dark text-white ps-0">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="40"
                                height="40"
                                stroke="currentColor"
                                stroke-width="4"
                                color="#33476f"
                                viewBox="0 0 24 24"

                        >
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Add TODO List
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}